/* src/components/AddExpenseModal.css */
.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    color: black;
    text-align: center;
}

.modal input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.modal-buttons button {
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.modal-buttons button:hover {
    background-color: #21a1f1;
}