/* src/components/Expanse.css */
.expanse {
    background: #626262;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.wallet-balance {
    background: #9b9b9b;
    border-radius: 15px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-balance h2 {
    margin: 0;
}

.wallet-balance span {
    color: #9dff5b;
}

.add-expense-button {
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
    border: none;
    padding: 40px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.expense-list {
    margin: 20px 0;
    text-align: left;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

.balance-container {
    display: flex;
    flex-direction: row;
}